h3 {
    margin-left: 20px;
}

/* กำหนดความกว้างและความสูงของรูปภาพ */
img {
    width: 300px; /* ปรับตามความต้องการ */
    height: auto; /* รักษาสัดส่วน */
    border-radius: 50%;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }


  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border: 2px solid rgb(189, 183, 183);
  }

  th {
    background-color: #f2f2f2;
  }
  .bold {
    font-weight: bold;
    color: black;
    text-align: center;
  }
  strong {
    font-weight: bold;
}

em {
    font-style: normal; /* Remove italic style from em elements */
    font-size: 13px;
}
nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: #333; /* Default color */
}

nav a.current {
    color: #3700ff; /* Change this to the desired color for the active link */
}
body {
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin: 20px;
  }

  form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 65px;

  }

  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button.clear {
    background-color: #f44336;
  }
  
  
  